.contentWrap {
  display: flex;
  gap: 10px;
  width: auto;
  max-width: 1000px;
  margin: 10px auto 0;
  padding: 0 10px;
}@media screen and (max-width:767px) {
  .contentWrap {
    flex-direction: column;
  }
}

.leftWrap {
  width: 100%;
}

.mainWrap {
  margin-top: 10px;
}