.wrap {
  position: relative;
}

.wrap > img {
  display: block;
  width: 100%;
}

.title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: clamp(50px, 10vw, 100px);
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}